.background{
    max-width: 100vw;
    background-image: url(/img/background.png);

    min-height: 80vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction{
    // margin-top: 7rem;
    // margin-left: 2rem;

    display: flex;
    flex-direction: column;
    

    &__text{
        color: #fff;
        font-size: 5.5rem;
        margin-bottom: 3rem;
    }

    &__subtext{
        color: #fff;
        font-size: 1.8rem;
    }
}